@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*Propriétés générales du site*/
* {
  text-decoration: none;
  font-family: "Roboto";
}

a {
  color: black;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h3 {
  margin: 1.7em 0em 0.6em 0.7em;
  font-size: 25px;
  font-weight: bold;
}

/**Header**/
header {
  text-align: center;
  margin-bottom: 0.25em;
  padding: 1.5em 0em 0.2em 0em;
  box-shadow: 0px 5px 5px -2.3px rgb(200, 200, 200);
}
header img {
  width: 162px;
}

/*Position*/
.position {
  text-align: center;
  background-color: rgb(234, 234, 234);
  font-size: 15.5px;
  font-family: "Roboto";
  font-weight: 500;
}
.position p::before {
  content: "\f3c5";
  font-family: "FontAwesome";
  padding-right: 10px;
  margin-left: -20px;
  font-size: 15px;
}

/*Présentation du site web*/
.presentation {
  padding-bottom: 4.5em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.presentation h2 {
  margin-top: 1.5em;
}
.presentation p {
  font-weight: lighter;
  font-size: 18px;
  margin-top: -0.5em;
  margin-bottom: 2.5em;
}
.presentation a {
  color: white;
  border: 1px solid;
  padding: 1em;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

/*Présentation du fonctionnement du site web*/
.fonctionnement {
  margin-bottom: 3.5em;
}
.fonctionnement .case_fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement .case {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 0px rgb(210, 210, 210);
  margin: 1em 1em 1em 2em;
  padding: 0.6em 0em 0.4em 4.8em;
  border-radius: 21px;
  font-weight: bold;
  color: black;
  background-color: rgb(245, 245, 245);
}
.fonctionnement .case:hover {
  background-color: #f5edff;
}
.fonctionnement .icon_number {
  margin-left: -6em;
  margin-right: 4em;
  color: white;
  border-radius: 50%;
  padding: 0.3em 0.6em 0.3em 0.6em;
  background-color: #9356DC;
  font-size: 15px;
  font-weight: lighter;
}
.fonctionnement .icons {
  font-size: 20px;
  margin-left: -2.3em;
  margin: 0em 1.3em 0em -2.3em;
  color: gray;
  font-family: "FontAwesome";
}

/*Carte restaurants*/
#restaurants {
  background-color: rgb(245, 245, 245);
  padding-bottom: 4em;
}
#restaurants .case_restaurants {
  display: flex;
  flex-direction: column;
}
#restaurants figure {
  margin: auto;
  margin-bottom: 1.2em;
  width: 334px;
  height: 252px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgb(210, 210, 210);
  /*DESIGN HEART*/
}
#restaurants figure .new {
  background-color: #99E2D0;
  padding: 0.4em 0.7em 0.4em 0.7em;
  color: #008766;
  font-weight: bold;
  margin-left: 17.6em;
  font-size: 14px;
  border-radius: 2.5px;
}
#restaurants figure p {
  position: absolute;
}
#restaurants figure img {
  height: 174px;
  width: 334px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

/*Animation heart*/
@keyframes heart_anim {
  
  from{
  
  height: 0px;

  }

  to{

  height: 30px;
  }
}

#restaurants figure .heart {
  position: absolute;
  margin: 0.5em 0em 0em 6.5em;
  font-size: 20px;
}
#restaurants figure .heart:hover {
  content: "\f004";
  animation: heart_anim 1000ms ;
  font-family: "FontAwesome";
  background-image: linear-gradient(30deg, #FF79DA, #9356DC);
  height: 25px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#restaurants figure h4 {
  font-weight: bold;
  margin: 0.7em 0em 0em 0.65em;
  font-size: 18px;
}
#restaurants figure .lieux {
  margin: 0.2em 0em 0em 0em;
  font-weight: lighter;
  font-size: 17px;
}

/*FOOTER*/
footer {
  background-color: #353535;
  padding-bottom: 2em;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 0.7em;
}
footer ul {
  list-style: none;
  padding-left: 1.5em;
  color: white;
}
footer a {
  color: white;
}
footer li {
  margin-bottom: 0.4em;
}
footer .ustensibl {
  margin-right: 0.7em;
  font-size: 13px;
}

@media screen and (min-width: 761px) and (max-width: 1920px) {
  body {
    min-width: none;
    max-width: none;
    margin-top: 10px;
    width: 75%;
    box-shadow: 0px 0px 10px 10px #F2F2F2;
    border-radius: 20px;
  }
  .fonctionnement .case_fonctionnement {
    flex-direction: row;
    justify-content: space-around;
  }
  .fonctionnement .case {
    width: 375px;
  }
  #restaurants .case_restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #restaurants figure {
    width: 500px;
  }
  #restaurants figure .new {
    margin-left: 29em;
  }
  #restaurants figure img {
    width: 500px;
  }
  #restaurants figure .heart {
    margin: 0.5em 0em 0em 15em;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer h4 {
    font-size: 30px;
    margin-top: 0px;
  }
  footer ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
