@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*Propriétés générales du site*/
* {
  text-decoration: none;
  font-family: "Roboto";
}

a {
  color: black;
}

body {
  margin: 0px;
}

main {
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1400px;
  margin: auto;
}

h3 {
  margin: 1.7em 0em 0.6em 0.7em;
  font-size: 25px;
  font-weight: bold;
}

/*Loader*/
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pacman {
  100% {
    transform: translateX(320px);
  }
}
@keyframes backgroundcolor {
  0% {
    box-shadow: 0px 0px 10px 10px black;
    background: linear-gradient(0deg, #FF79DA, #9356DC);
  }
  5% {
    background: linear-gradient(17deg, #9356DC, #99E2D0);
  }
  10% {
    background: linear-gradient(30deg, #99E2D0, #9356DC);
  }
  15% {
    background: linear-gradient(47deg, #9356DC, #FF79DA);
  }
  20% {
    background: linear-gradient(64deg, #FF79DA, #99E2D0);
  }
  25% {
    box-shadow: 0px 0px 10px 10px gray;
    background: linear-gradient(81deg, #FF79DA, #9356DC);
  }
  30% {
    background: linear-gradient(96deg, #9356DC, #99E2D0);
  }
  35% {
    background: linear-gradient(113deg, #99E2D0, #9356DC);
  }
  40% {
    background: linear-gradient(120deg, #9356DC, #FF79DA);
  }
  45% {
    background: linear-gradient(137deg, #FF79DA, #99E2D0);
  }
  50% {
    box-shadow: 0px 0px 10px 10px black;
    background: linear-gradient(154deg, #FF79DA, #9356DC);
  }
  55% {
    background: linear-gradient(171deg, #9356DC, #99E2D0);
  }
  60% {
    background: linear-gradient(188deg, #99E2D0, #9356DC);
  }
  65% {
    background: linear-gradient(205deg, #9356DC, #FF79DA);
  }
  70% {
    background: linear-gradient(222deg, #FF79DA, #99E2D0);
  }
  75% {
    box-shadow: 0px 0px 10px 10px gray;
    background: linear-gradient(239deg, #FF79DA, #9356DC);
  }
  80% {
    background: linear-gradient(256deg, #9356DC, #99E2D0);
  }
  85% {
    background: linear-gradient(273deg, #99E2D0, #9356DC);
  }
  90% {
    background: linear-gradient(290deg, #9356DC, #FF79DA);
  }
  95% {
    background: linear-gradient(307deg, #FF79DA, #99E2D0);
  }
  100% {
    box-shadow: 0px 0px 10px 10px black;
    background: linear-gradient(324deg, #FF79DA, #9356DC);
  }
}
@keyframes letter {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes letter_color {
  0% {
    transform: scale(1);
    color: white;
    transform: translateY(0px);
  }
  10% {
    color: #9356DC;
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(5px);
    color: white;
  }
  30% {
    color: #9356DC;
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(5px);
    color: white;
  }
  50% {
    color: #9356DC;
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(5px);
    color: white;
  }
  70% {
    color: #9356DC;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
    color: white;
  }
  90% {
    color: #9356DC;
    transform: translateY(-5px);
  }
  100% {
    color: white;
    transform: translateY(5px);
  }
}
.anim_pacman {
  display: flex;
  align-items: center;
}

.loader {
  overflow: hidden;
  margin-top: -10px;
  padding-top: 25em;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  background-color: rgba(114, 114, 114, 0.7);
  width: 100%;
  height: 255%;
  animation: loader 8s;
  z-index: 2;
  transform: scale(0);
}

.loader_img {
  position: absolute;
  top: 70%;
  left: 42%;
}

/***********PACMAN*******/
.pacman {
  width: 250px;
  animation: pacman 10000ms;
  transform: translateX(-130px);
  z-index: 3;
  position: absolute;
}

/*CIRCLE***********/
.fa-solid {
  font-size: 30px;
  margin-right: 2px;
  z-index: 2;
}

.point {
  width: 50px;
  background: black;
  position: absolute;
  z-index: 2;
}

.circles {
  display: flex;
  flex-direction: row;
  padding: 3em;
  border-radius: 50%;
  position: relative;
  /*
  animation: backgroundcolor 10s;
  (Pour faire un fond de couleur avec le keyframe plus loin au dessu
  */
}

.o_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 1ms;
}

.h_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 1s;
}

.m_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 1.5s;
}

.y_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 2s;
}

.f_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 2.5s;
}

.osecond_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 3s;
}

.othirst_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 3.5s;
}

.d_letter {
  animation: letter;
  animation-duration: 10s;
  animation-delay: 4s;
}

/***************************/
/*Aparition des lettres*/
.letter {
  position: absolute;
  font-size: 25px;
  font-family: "Shrikhand";
  top: 15%;
  color: white;
  z-index: 1;
  text-shadow: 1px 10px 5px black;
}

.O {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  left: 15%;
}

.H {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  left: 25%;
}

.M {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  left: 32%;
}

.Y {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  left: 43%;
}

.F {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  left: 51%;
}

.OF {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  left: 60.5%;
}

.OS {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.5s;
  left: 70%;
}

.D {
  animation: letter_color 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  left: 78.8%;
}

/**Header**/
header {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25em;
  padding: 1.5em 0em 0.4em 0em;
}
header img {
  width: 162px;
}
header .button_back {
  position: absolute;
  margin-right: 13.5em;
  font-size: 1.4em;
}

/*Image Background*/
.background_image {
  width: 100%;
}
.background_image img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

/*Catégorie menu*/
.menus {
  padding: 7px 20px 0px 20px;
  background-color: rgb(246, 246, 246);
  z-index: 1;
  margin-top: -3em;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-bottom: 5em;
  /*Titre*/
  /*Design du coeur*/
  /*Différentes parties des menus*/
  /*Boutton commander*/
}
.menus h1 {
  font-family: "Shrikhand";
  font-size: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menus h2 {
  font-size: 15px;
  font-weight: 200;
  padding-bottom: 0.2em;
  border-bottom: 3px solid #99E2D0;
  margin-inline-end: 88%;
}
.menus .heart {
  margin: 0em 0em 0em 0em;
  font-size: 25px;
}
.menus .heart:hover {
  content: "\f004";
  animation: heart_anim 1000ms;
  font-family: "FontAwesome";
  background-image: linear-gradient(30deg, #FF79DA, #9356DC);
  background-clip: text;
  width: 32px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes heart_anim {
  from {
    height: 0px;
  }
  to {
    height: 30px;
  }
}
.menus .menu {
  margin-bottom: 2.5em;
}
@keyframes translate_loader {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menus .plats_1 {
  animation: translate_loader 500ms;
}
.menus .plats_2 {
  animation: translate_loader 1000ms;
}
.menus .plats_3 {
  animation: translate_loader 2000ms;
}
.menus .plats_4 {
  animation: translate_loader 3000ms;
}
.menus .plats_5 {
  animation: translate_loader 4000ms;
}
.menus .plats_6 {
  animation: translate_loader 5000ms;
}
.menus .plats_7 {
  animation: translate_loader 6000ms;
}
.menus .plats_8 {
  animation: translate_loader 6500ms;
}
.menus .plats_9 {
  animation: translate_loader 7000ms;
}
.menus .entrees_plats {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0.5px rgb(230, 230, 230);
  border-radius: 15px;
  padding: 0px 0px 0px 2px;
  margin-bottom: 1em;
  background-color: white;
}
.menus .entrees_plats .plats_text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  overflow: hidden;
  white-space: nowrap;
}
.menus .entrees_plats .plats_text h4 {
  margin-bottom: -10px;
  font-size: 0.95em;
  margin-top: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus .entrees_plats .plats_text p {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus .entrees_plats .check {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  /*transform: translateX(69.5px);*/
}
.menus .entrees_plats .check .prix {
  margin-bottom: 10px;
  font-weight: bold;
  margin-right: 20px;
  font-size: 13px;
  padding-left: 10px;
}
.menus .entrees_plats .rotate_check {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  height: 100%;
  width: 0px;
  transition: width 500ms;
}
.menus .entrees_plats .fa-circle-check {
  transition: transform 800ms;
}
.menus .entrees_plats:hover .rotate_check {
  width: 70px;
}
.menus .entrees_plats:hover .fa-circle-check {
  transform: rotate(360deg);
}
.menus .button_cmdcontent {
  display: flex;
  justify-content: center;
}
.menus .button_cmd {
  text-align: center;
  color: white;
  padding: 1em;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  width: 150px;
  box-shadow: 0px 0px 10px 0.5px rgb(230, 230, 230);
  transition: transform 400ms;
}
.menus .button_cmd:hover {
  background: linear-gradient(175deg, #ff98e2, #a97ce0);
  box-shadow: 0px 0px 10px 3px rgb(245, 245, 245);
  transform: scale(1.05);
}

/*Footer*/
footer {
  background-color: #353535;
  padding-bottom: 2em;
}

footer h4 {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 0.7em;
}

footer ul {
  list-style: none;
  padding-left: 1.5em;
  color: white;
}

footer a {
  color: white;
}

footer li {
  margin-bottom: 0.4em;
}

footer .ustensibl {
  margin-right: 0.7em;
  font-size: 13px;
}

/*responsive 320px (Petit téléphone*/
@media screen and (min-width: 320px) and (max-width: 350px) {
  header .button_back {
    margin-right: 80%;
  }
}
/*button back responsive*/
@media screen and (min-width: 376px) and (max-width: 1000px) {
  header .button_back {
    margin-right: 86%;
  }

}

/*responsive Général*/
@media screen and (min-width: 1000px) and (max-width: 2444px) {
  main {
    min-width: none;
    max-width: none;
    margin-top: 10px;
    width: 90%;
    box-shadow: 0px 0px 10px 10px #F2F2F2;
    border-radius: 20px;
  }
  header {
    margin-bottom: 10px;
  }
  header .button_back {
    margin-right: 86%;
  }
  .background_image img {
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 300px;
  }
  .menus {
    margin-top: -10px;
    border-radius: 0px;
  }
  .menus .section_article {
    display: flex;
    justify-content: space-between;
  }
  .menus article {
    width: 30%;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer h4 {
    font-size: 30px;
    margin-top: 0px;
  }
  footer ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
