@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*Propriétés générales du site*/
* {
  text-decoration: none;
  font-family: "Roboto";
}

a {
  color: black;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  max-width: 1400px;
  margin: auto;
}

h3 {
  margin: 1.7em 0em 0.6em 0.7em;
  font-size: 25px;
  font-weight: bold;
}

/**Header**/
header {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25em;
  padding: 1.5em 0em 0.4em 0em;
}
header img {
  width: 162px;
}
header .button_back {
  position: absolute;
  margin-right: 13.5em;
  font-size: 1.4em;
}

/*Image Background*/
.background_image {
  width: 100%;
}
.background_image img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

/*Catégorie menu*/
.menus {
  padding: 7px 20px 0px 20px;
  background-color: rgb(246, 246, 246);
  z-index: 1;
  margin-top: -3em;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-bottom: 5em;
  /*Titre*/
  /*Design du coeur*/
  /*Différentes parties des menus*/
  /*Boutton commander*/
}
.menus h1 {
  font-family: "Shrikhand";
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.menus h2 {
  font-size: 15px;
  font-weight: 200;
  padding-bottom: 0.2em;
  border-bottom: 3px solid #99E2D0;
  margin-inline-end: 88%;
}
.menus .heart {
  margin: 0em 0em 0em 35%;
  font-size: 25px;
}
.menus .heart:active {
  content: "\f004";
  animation: heart_anim 1000ms;
  font-family: "FontAwesome";
  background-image: linear-gradient(30deg, #FF79DA, #9356DC);
  background-clip: text;
  width: 32px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes heart_anim {
  from {
    opacity: 0.33;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 30px;
  }
}
.menus .menu {
  margin-bottom: 2.5em;
}
.menus .fa-circle-check {
  color: white;
  position: absolute;
  opacity: 0;
  top: 25%;
  left: 95.5%;
  rotate: 90deg;
  font-size: 35px;
  transition: opacity 500ms, transform 500ms;
}
.menus .entrees_plats:hover > .fa-circle-check {
  opacity: 1;
  transform: translate(0px, -22px) rotate(250deg);
}
.menus .entrees_plats:hover {
  border-right: 60px solid #99E2D0;
}
@keyframes translate_loader {
  0% {
    transform: translateY(20px);
    opacity: 0;
    color: #F2F2F2;
  }
  100% {
    color: white;
    transform: translateY(0px);
    opacity: 1;
  }
}
.menus .plats_1 {
  animation: translate_loader 500ms;
}
.menus .plats_2 {
  animation: translate_loader 1000ms;
}
.menus .plats_3 {
  animation: translate_loader 2000ms;
}
.menus .plats_4 {
  animation: translate_loader 3000ms;
}
.menus .plats_5 {
  animation: translate_loader 4000ms;
}
.menus .plats_6 {
  animation: translate_loader 5000ms;
}
.menus .plats_7 {
  animation: translate_loader 6000ms;
}
.menus .plats_8 {
  animation: translate_loader 6500ms;
}
.menus .plats_9 {
  animation: translate_loader 7000ms;
}
.menus .entrees_plats {
  position: relative;
  box-shadow: 0px 0px 10px 0.5px rgb(230, 230, 230);
  border-radius: 15px;
  padding: 12px 15px 0px 10px;
  margin-bottom: 1em;
  background-color: white;
  transition: border-right 500ms;
}
.menus .entrees_plats h4 {
  font-size: 1.1em;
  margin-top: 0px;
}
.menus .entrees_plats span {
  display: flex;
  justify-content: space-between;
  margin-top: -2.1em;
}
.menus .entrees_plats span p {
  font-size: 0.9em;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menus .entrees_plats span .prix {
  font-weight: bold;
  font-size: 1em;
}
.menus .button_cmdcontent {
  display: flex;
  justify-content: center;
}
.menus .button_cmd {
  text-align: center;
  color: white;
  padding: 1em;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  width: 150px;
  box-shadow: 0px 0px 10px 0.5px rgb(230, 230, 230);
  transition: transform 400ms;
}
.menus .button_cmd:hover {
  background: linear-gradient(175deg, #ff98e2, #a97ce0);
  box-shadow: 0px 0px 10px 3px rgb(245, 245, 245);
  transform: scale(1.05);
}

/*Footer*/
footer {
  background-color: #353535;
  padding-bottom: 2em;
}

footer h4 {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 0.7em;
}

footer ul {
  list-style: none;
  padding-left: 1.5em;
  color: white;
}

footer a {
  color: white;
}

footer li {
  margin-bottom: 0.4em;
}

footer .ustensibl {
  margin-right: 0.7em;
  font-size: 13px;
}

@media screen and (min-width: 1400px) and (max-width: 2444px) {
  body {
    min-width: none;
    max-width: none;
    margin-top: 10px;
    width: 75%;
    box-shadow: 0px 0px 10px 10px #F2F2F2;
    border-radius: 20px;
  }
  header {
    margin-bottom: 10px;
  }
  header .button_back {
    margin-right: 70%;
  }
  .background_image img {
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 300px;
  }
  .menus {
    margin-top: -10px;
    border-radius: 0px;
  }
  .menus .heart {
    margin: 0.2em 0em 0em 6em;
  }
  .menus .section_article {
    display: flex;
    justify-content: space-between;
  }
  .menus article {
    width: 30%;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer h4 {
    font-size: 30px;
    margin-top: 0px;
  }
  footer ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
